<div class="section_01">
  <div class="sidebar">
    <div class="col-md-12">
      <button (click)="dashboard('dashboard/dashboard')">Dashboard</button>
    </div>
    <div class="col-md-12">
      <button (click)="dashboard('dashboard/home')">Home</button>
    </div>
    <div class="col-md-12">
      <button (click)="dashboard('dashboard/profile')">Profile</button>
    </div>
    <div class="col-md-12">
      <button (click)="dashboard('dashboard/change-password')">Change Password</button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>