p{
    font-size: 40px;
    text-align: center;
    margin-top:40px;
    
}
input{
    margin-top: 15px;
    border-radius: 10px;
    padding:20px;
}
.top{
    margin-top: 20px;
}
button{
    width:100%;
    background-color: #F1C65D;
    border:none;
    border-radius: 15px;
    padding:5px;
    margin-top: 15px;
    font-size: 20px;
    color:rgb(111, 112, 114);
}