<form [formGroup]="pswd">
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-5">
    <div class="col-md-12">
      <p>Change Password</p>

    </div>
    <div class="col-md-12 top">
      <input type="password" formControlName="oldpswd" [class.is-invalid]="pswd.get('oldpswd').invalid && pswd.get('oldpswd').touched" class="form-control" placeholder="Old Password">
      <small class="text-danger" [class.d-none]="pswd.get('oldpswd').valid || pswd.get('oldpswd').untouched">Old Password is required</small>
    </div>
    <div class="col-md-12">
      <input type="password" class="form-control"   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [class.is-invalid]="pswd.get('newpswd').invalid && pswd.get('newpswd').touched" formControlName="newpswd"  placeholder="New Password">
      <div *ngIf="pswd.get('newpswd').errors && (pswd.get('newpswd').invalid && pswd.get('newpswd').touched)">
        <small class="text-danger" *ngIf="pswd.get('newpswd').errors.required">
          password is required
        </small>
        <small class="text-danger" *ngIf="pswd.get('newpswd').errors.pattern">
          Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters
        </small>
      </div>
    </div>
    <div class="col-md-12">
      <input type="password" class="form-control" formControlName="confirmpswd" [class.is-invalid]="pswd.get('confirmpswd').invalid && pswd.get('confirmpswd').touched" placeholder="Confirm Password">
      <small class="text-danger" [class.d-none]="pswd.get('confirmpswd').valid || pswd.get('confirmpswd').untouched">Confirm Password is required</small>
    </div>
    <div class="col-md-12">
     <button type="submit" [disabled]="pswd.invalid" (click)="submit()">Change Password</button>
    </div>
  </div>
</div>
</form>