<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2 bdr">
    <div class="col-md-12">
      <p class="size35">Sign In</p>
    </div>
    <div class="col-md-12">
      <label> Email (phone for mobile accounts)</label></div>  
    <div class="col-md-12">
      <input type="text" class="form-control">
    </div>
    <div class="col-md-12">
      <button type="submit" class="form-control but">Continue</button>
     </div>
     <div class="col-md-12 top">
      <p class="size12 ">By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
    </div>
  </div>
   
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2 top">
    <p class="size12 center">New to Amazon?
      </p>
    <button (click)="secure()" class="account">Create your Amazon Account</button>
  </div>
</div>