table{
    border:1px solid;
    font-weight: bold;
    text-align: center;
    width:100%;
    font-size:18px;
}
td{
    border:1px solid;
}
button{
    background-color: white;
    border:none;
    color:blue;
    font-size:20px;
}
.top{
    margin-top: 20px;
}
.green{
    color:green;
  font-size:20px;
}
.red{
    color:red;
    font-size:20px;
   
}