<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2 bdr">
    <div class="col-md-12">
      <p class="size35">Create account</p>
    </div>
    <div class="col-md-12">
      <label> Your Name</label></div>
      <div class="col-md-12">
      <input type="text" class="form-control">
    </div>
    <div class="col-md-12">
      <label> Email</label></div>
      <div class="col-md-12">
      <input type="email" class="form-control">
    </div>
    <div class="col-md-12">
      <label> Password</label></div>
      <div class="col-md-12">
      <input type="password" class="form-control">
    </div>
    <div class="col-md-12">
      <label> Re-enter password</label></div>
      <div class="col-md-12">
      <input type="password" class="form-control">
    </div>
    <div class="col-md-12">
     <button type="submit" class="form-control but">Create your Amazon account</button>
    </div>
    <div class="col-md-12 top">
      <p class="size12 ">By creating an account, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
    </div>
    <div class="col-md-12">
      <p class="size12">Already have an account? <button class="sign" (click)="sign()">Sign-In</button></p>
    </div>
  </div>
</div>